mixin extra-choice(title, price)
      span.extra-choice(onclick="void(0)")
            span.extra-choice-title #{title}
            span.extra-choice-price +#{price} 
                  span.extra-choice-curr ETB

mixin menu-item(title, nickname, price, option1, option2, option3, chicken_price, pork_price, beef_price, description, patty, has_sauces)
   .menu.col-md-6
      h1.title #{title}
      h3.tagline #{nickname}
      br
      .row
            .col-md-5
                  h2.price #{price} ETB
            .col-md-7
                  if(option1)
                        span.img.img-responsive.food-choice#chicken
                              .extra-price
                                    span.num +#{chicken_price}
                                    br
                                    | ETB
                  if(option2)
                        span.img.img-responsive.food-choice#pork
                              .extra-price
                                    span.num +#{pork_price}
                                    br
                                    | ETB
                  if(option3)
                        span.img.img-responsive.food-choice#beef
                              .extra-price
                                    span.num +#{beef_price}
                                    br
                                    | ETB
      p.desc #{description}
      if(patty)
            +extra-choice('Extra Patty', 60)
      if(has_sauces)
            h3.choose-sauce It comes with sauce but incase you want extra
            hr(style="")
            +extra-choice('BBQ Ranch', 10)
            br
            +extra-choice('Honey Mustard', 10)
            br
            +extra-choice('Spread', 10)
            

   
#menu-section.container-fluid
      h1.menu-title.text-center Menu

      .menu-section.row
            .container
                  //- menu-item(title, nickname, price, option1, option2, option3, chicken_price, pork_price, beef_price, description, patty)
                  +menu-item("Burrito", "The best in town", 130, 1, 1, 1, 44, 44, 39, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
                  +menu-item("OPM Burrito", "The staple", 169, 0, 0, 1, 44, 44, 39, "Opium’s staple burrito comes with grilled steak, black beans, shredded cheese, cilantro lime rice, pico de gallo, guacamole and our special Chef’s sauce rolled in a warm flour tortilla.")
                  +menu-item("Special Burrito", "Asian inspired", 169, 0, 0, 1, 44, 44, 39, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
                  +menu-item("Tacos", "Three amigos", 130, 1, 1, 1, 44, 44, 39, "Our taco trio comes on three handmade flour tortillas with black beans, shredded cheese, pico de gallo & guacamole. \"No Veggie option\"")
                  +menu-item("Bowls", "A little bit of everything", 130, 1, 0, 1, 44, 44, 39, "Our Tex-Mex bowls come with your choice of meat, black beans, sauteed onions & bell peppers, fire roasted salsa & guacamole with pico de gallo served on cilantro lime rice.")
                  +menu-item("Tex-Burger", "Beef it up", 130, 0, 0, 1, 44, 44, 39, "Our Texas style burgers are made using 100% beef, grilled onions and fresh tomatoes all stacked on top of a hand crafted bun with spread. Served with french fries.")
                  +menu-item("Guacamole & Salsa", "Always in season", 130, 0, 0, 0, 44, 44, 39, "A classic Mexican starter, our fresh salsa and guacamole is made daily and goes great with cold beer & lime.")
                  +menu-item("Quesadillas", "Easy to eat on the go", 130, 1, 0, 1, 44, 44, 39, "Our quesadillas come with your choice of meat, black beans, melted cheese, fire roasted salsa and guacamole.")
                  +menu-item("Cheese Burger", "Extra cheesy", 165, 0, 0, 0, 40, 40, 40, "Our cheeseburgers are made using 100% beef, grilled onions and fresh tomatoes all stacked on top of a hand crafted bun with your choice of sauce. Served with french fries.", 1, 1)

      include ../includes/_6beverages.jade

      .row.text-center
            h3.note *Please note: All pricing is not including VAT. 
            br
            br
